<a href="https://colab.research.google.com/github/parakalaAshwija/Batch11/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [2]:
a=5
b=9
sum=a+b
print(sum)

14

In [4]:
a=int(input("Enter a number1:"))
b=int(input("Enter a number2:"))
sub=a-b
print("The sub is",sub)

Enter a number1:29
Enter a number2:13
The sub is 16

In [8]:
import pandas as pd
data={
    'Name':['Ramu','meena','Aasha'],
    'Age':[19,20,25],
    'city':['sdg','sng','kmp']
}
df=pd.DataFrame(data)
print(df)

    Name  Age city
0   Ramu   19  sdg
1  meena   20  sng
2  Aasha   25  kmp